<a href="https://colab.research.google.com/github/RenatoMonaco/MAC0417/blob/main/EP1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [93]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [94]:
!ls -all -h /content/gdrive/Shareddrives/Grupo\ Visão/EP1

total 16K
drwx------ 2 root root 4.0K May 17 18:55 dados
-rw------- 1 root root  12K May 17 23:25 EP1.ipynb

In [95]:
import os
import pandas as pd

In [96]:
path = "/content/gdrive/Shareddrives/Grupo Visão/EP1/dados/"
files = os.listdir(path)

# Tabela Sumária

In [98]:
size = 0

for file in files:
  f_path = os.path.join("/content/gdrive/Shareddrives/Grupo Visão/EP1/dados", file)
  f_size = os.path.getsize(f_path)
  f_size_kb = f_size 

  size += f_size_kb

In [99]:
df_summary = pd.DataFrame(columns=('Número de classes', 'Número de imagens', 'Tamanho da base (bytes)', 'Resolução das imagens'))

df_summary = df_summary.append({'Número de classes': 10, 'Número de imagens': len(files), 'Tamanho da base (bytes)': size, 'Resolução das imagens': "3840x2160(16:9, 8,29MP)" }, ignore_index=True)

df_summary

  Número de classes  ...    Resolução das imagens
0                10  ...  3840x2160(16:9, 8,29MP)

[1 rows x 4 columns]

In [100]:
df = pd.DataFrame(columns=('Classe', 'Descricao_classe', 'Fundo', 'Descricao_fundo' ,'Interno_Externo', 'Dia_Noite', 'Objeto', 'Repeticao'))

In [101]:
df.to_csv("/content/gdrive/Shareddrives/Grupo Visão/EP1/tabela-sumaria.csv")

# Tabela Detalhada

Gerando tabela detalhada com base das no padrão adotado no armazenamento das imagens.

In [102]:
classes = { 
    '01': 'pregador',
    '02': 'livro',
    '03': 'cabide',
    '04': 'chave',
    '05': 'escova de dente',
    '06': 'lápis',
    '07': 'esmalte',
    '08': 'comedouro (pratinho pet)',
    '09': "garrafinha d'agua",
    '10': 'limão'
}

In [103]:
fundos = {
    '1': 'toalha de plástico creme',
    '2': 'algodão creme',
    '3': 'tapete EVA verde',
    '4': 'mesa branca / toalha marrom',
    '5': 'toalha de rosto preta',
    '6': 'pano de chroma key verde',
    '7': 'feltro preto',
    '8': 'feltro branco',
    '9': 'algodão rosa',
}

In [104]:
for file in files:
  classe = file[:2]
  fundo = file[2:3]
  ie = file[3:4]
  dn = file[4:5]
  obj = file[5:6]
  n = file[6:7]

  new_row = {'Classe': classe, 'Descricao_classe': classes[str(classe)], 'Fundo': fundo, 'Descricao_fundo': fundos[str(fundo)], 'Interno_Externo': ie, 'Dia_Noite': dn, 'Objeto': obj, 'Repeticao': n }
  df = df.append(new_row, ignore_index=True)

In [105]:
df

     Classe Descricao_classe Fundo  ... Dia_Noite Objeto Repeticao
0        07          esmalte     9  ...         N      3         3
1        07          esmalte     9  ...         N      3         2
2        07          esmalte     9  ...         N      3         1
3        07          esmalte     9  ...         N      2         3
4        07          esmalte     9  ...         N      2         2
...     ...              ...   ...  ...       ...    ...       ...
1543     05  escova de dente     4  ...         D      1         3
1544     05  escova de dente     4  ...         D      1         2
1545     05  escova de dente     4  ...         D      3         3
1546     05  escova de dente     4  ...         D      3         2
1547     05  escova de dente     4  ...         N      2         3

[1548 rows x 8 columns]

Exportando tabela para `.csv`

In [106]:
df.to_csv("/content/gdrive/Shareddrives/Grupo Visão/EP1/tabela-detalhada.csv")